In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import geopandas as gpd

In [3]:
# This command prompts matplotlib visuals to appear in the notebook.

%matplotlib inline

In [4]:
path = '/Users/seanward/Desktop/6- Achievement'

In [7]:
# Import ".shp" file for the U.S. shape outline using the Geopandas `read_csv` command.

world = gpd.read_file(os.path.join(path, 'ne_50m_admin_0_countries.shp'))

In [8]:
# View the head of the new Geodataframe.

world.head()

                                            geometry
0  POLYGON ((31.28789 -22.40205, 31.19727 -22.344...
1  POLYGON ((30.39609 -15.64307, 30.25068 -15.643...
2  MULTIPOLYGON (((53.08564 16.64839, 52.58145 16...
3  MULTIPOLYGON (((104.06396 10.39082, 104.08301 ...
4  MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9...

In [32]:
world.shape

(241, 1)

In [9]:
# Import the recipes data.

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'full_grouped_edit2.csv'))

In [10]:
df.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,1/22/20,US,1,0,0,1,0,0,0,Americas
1,1/23/20,US,1,0,0,1,0,0,0,Americas
2,1/24/20,France,2,0,0,2,2,0,0,Europe
3,1/24/20,US,2,0,0,2,1,0,0,Americas
4,1/25/20,France,3,0,0,3,1,0,0,Europe

In [11]:
df.shape

(3078, 10)

# Data Wrangling

In [26]:
# Select only the necessary columns and put them in a list called columns.

columns = ["US",
"Brazil",
"India",
"Russia",
"South Africa",
"Mexico",
"Peru",
"Chile",
"Colombia",
"Spain",   
"Iran",
"United Kingdom",
"Saudi Arabia",
"Pakistan",           
"Bangladesh",
"Italy",           
"Turkey",
"Argentina",
"Germany",
"France",           
"Date",
"Country/Region",
"Confirmed",
"Deaths",
"WHO Region"]

In [28]:
columns = ["Date",
"Country/Region",
"Confirmed",
"Deaths",
"WHO Region"]

In [29]:
# Create a subset.

country_rec = df[columns]

In [30]:
country_rec.head()

      Date Country/Region  Confirmed  Deaths WHO Region
0  1/22/20             US          1       0   Americas
1  1/23/20             US          1       0   Americas
2  1/24/20         France          2       0     Europe
3  1/24/20             US          2       0   Americas
4  1/25/20         France          3       0     Europe

In [25]:
world.info

<bound method DataFrame.info of                                               geometry
0    POLYGON ((31.28789 -22.40205, 31.19727 -22.344...
1    POLYGON ((30.39609 -15.64307, 30.25068 -15.643...
2    MULTIPOLYGON (((53.08564 16.64839, 52.58145 16...
3    MULTIPOLYGON (((104.06396 10.39082, 104.08301 ...
4    MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9...
..                                                 ...
236  POLYGON ((19.34238 41.86909, 19.34551 41.91885...
237  POLYGON ((66.52227 37.34849, 66.82773 37.37129...
238  POLYGON ((77.04863 35.10991, 77.00449 35.19634...
239  MULTIPOLYGON (((-45.71777 -60.52090, -45.49971...
240  POLYGON ((-63.12305 18.06895, -63.01118 18.068...

[241 rows x 1 columns]>

In [31]:
s2 = country_rec.idxmax(axis=1)

TypeError: reduction operation 'argmax' not allowed for this dtype